*
{
	margin: 3px;
	margin-right: 50px;
	margin-left: 50px;
	padding: 5px;
	padding: 100;
	list-style: none;
	text-decoration: none;
	color: #fff;
}
body
{
	font-family: sans-serif;
	background: #151519;
}
h1
{
	text-align: center;
	color: forestgreen;
	margin: 30px 0 50px;
}
.gallery
{
	margin: 10px 50px;
}
.gallery img
{
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}
.gallery img:hover
{
	filter: grayscale(0%);
	transform: scale(1.1);
}